In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('Prodigy University Dataset (1).csv')
data

     sat_sum  hs_gpa  fy_gpa
0        508    3.40    3.18
1        488    4.00    3.33
2        464    3.75    3.25
3        380    3.75    2.42
4        428    4.00    2.63
..       ...     ...     ...
995      400    3.70    2.19
996      432    3.30    1.50
997      456    3.50    3.17
998      480    2.30    1.94
999      372    2.70    2.38

[1000 rows x 3 columns]

In [6]:
data.describe()

           sat_sum       hs_gpa       fy_gpa
count  1000.000000  1000.000000  1000.000000
mean    413.316000     3.198100     2.467950
std      57.149472     0.541647     0.740805
min     212.000000     1.800000     0.000000
25%     372.000000     2.800000     1.980000
50%     412.000000     3.200000     2.465000
75%     452.000000     3.700000     3.020000
max     576.000000     4.500000     4.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sat_sum  1000 non-null   int64
 1   hs_gpa   1000 non-null   float64
 2   fy_gpa   1000 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 23.6 KB

In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import SGD, Adam, RMSprop
import warnings
warnings.filterwarnings('ignore')

In [18]:
#  Features and Target
X = df[['sat_sum', 'hs_gpa']]
y = df['fy_gpa']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#  Feature Scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

#  Build ANN Model
def create_model(optimizer):
    model = Sequential()
    model.add(Dense(64, input_dim=2, activation='relu')) 
    model.add(Dense(32, activation='relu'))               
    model.add(Dense(1, activation='linear'))              
    model.compile(loss='mse', optimizer=optimizer, metrics=['mae'])
    return model

#  Try different optimizers:
optimizers = {
    'SGD': SGD(learning_rate=0.01),
    'Adam': Adam(learning_rate=0.01),
    'RMSProp': RMSprop(learning_rate=0.01)
}


#  Train and Evaluate model for each optimizer
for name, opt in optimizers.items():
    print(f"\nTraining with {name} optimizer:")
    model = create_model(opt)
    history = model.fit(X_train_scaled, y_train, epochs=100, batch_size=32, verbose=0, validation_split=0.2)
    
    # Predict & Evaluate
    y_pred = model.predict(X_test_scaled)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    print(f"{name} MSE: {mse:.4f}, R²: {r2:.4f}")
    results[name] = {'MSE': mse, 'R2': r2}

Training with SGD optimizer:
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
SGD MSE: 0.3932, R²: 0.3363

Training with Adam optimizer:
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
Adam MSE: 0.4004, R²: 0.3241

Training with RMSProp optimizer:
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
RMSProp MSE: 0.4051, R²: 0.3163

In [19]:
data

     sat_sum  hs_gpa  fy_gpa
0        508    3.40    3.18
1        488    4.00    3.33
2        464    3.75    3.25
3        380    3.75    2.42
4        428    4.00    2.63
..       ...     ...     ...
995      400    3.70    2.19
996      432    3.30    1.50
997      456    3.50    3.17
998      480    2.30    1.94
999      372    2.70    2.38

[1000 rows x 3 columns]

In [20]:
x = data[['sat_sum','hs_gpa']]
y = data['fy_gpa']

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#  Feature Scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [45]:
mod = Sequential()
mod.add(Dense(6,input_dim=2,activation='relu'))
mod.add(Dense(3,activation='relu'))
mod.add(Dense(1,activation='linear'))
mod.compile(optimizer='adam',loss='mse',metrics=['accuracy'])
mod.fit(X_train_scaled,y_train,epochs=100,verbose=0)
y_pred = mod.predict(X_test_scaled)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('MSE = ', mse)
print('r2 = ',r2)

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE =  0.40251277468457175
r2 =  0.32057951380394845

In [46]:
mod = Sequential()
mod.add(Dense(6,input_dim=2,activation='relu'))
mod.add(Dense(3,activation='relu'))
mod.add(Dense(1,activation='linear'))
mod.compile(optimizer='SGD',loss='mse',metrics=['accuracy'])
mod.fit(X_train_scaled,y_train,epochs=100,verbose=0)
y_pred = mod.predict(X_test_scaled)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('MSE = ', mse)
print('r2 = ',r2)

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE =  0.4070933492291292
r2 =  0.3128477438332703